BASE_URL=https://www.amazon.in
AMAZON_EMAIL=arunmsahukar@gmail.com
AMAZON_PASSWORD=ar8088022772

DEMO_WEBSHOP_BASE_URL=https://demowebshop.tricentis.com
DEMO_WEBSHOP_EMAIL=your-email@example.com
DEMO_WEBSHOP_PASSWORD=your-password

SAUCEDEMO_BASE_URL=https://www.saucedemo.com/
SAUCEDEMO_USERNAME=standard_user
SAUCEDEMO_PASSWORD=secret_sauce
